<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>tail log</title>
<script src="{{ static_url('jquery.min.js')}}"></script>
</head>
<body>
	<button id="clear_value">清屏</button>

	<div id="log-container" style="height: 500px; overflow-y: scroll; background: #011F2A; color: #aaa; padding: 10px;">
		<div>
		</div>
	</div>
</body>
<script>
	$(document).ready(function() {
		// 指定websocket路径
		var websocket = new WebSocket('ws://' + '{{domain}}' + ':' + '{{port}}' +'/log');
		websocket.onmessage = function(event) {
			$("#log-container div").append(event.data + "</br>");
			// 滚动条滚动到最低部
			$("#log-container").scrollTop($("#log-container div").height() - $("#log-container").height());
		};

		$("#clear_value").on("click", function() {
			$("#log-container div").text("");
		})
	});
</script>
</body>
</html>
